/ColocaFichasInicialesPlan.class
/TiraDadosTurno.class
/Ladron.class
/Unirse_partida_Plan.class
/TirarDadosPlan.class
/NegociarJugadoresPlan.class
/RecibirOfertaPlan.class
/CambiarRecursosConBanca.class
/CambiarRecursosConBancaPlan.class
