/NegociacionTerminada.class
/RespuestaOferta.class
/MoverLadron.class
/OfertaJugadorBanca.class
/LadronDesplazado.class
/UnirmePartida.class
/TiradaDados.class
/RecursosObtenidos.class
/ComerciadoConBanca.class
/Contruido.class
/CompradaCarta.class
/Construido.class
/TurnoInicialPosicionado.class
