/Action.class
/TirarDados.class
/Request_unirse_partida.class
/RealizarOferta.class
/RespuestaOferta.class
/OfertaComercio.class
/OfrecerNegociacion.class
/ConstruirEstado.class
/OfertaCartaDesarrollo.class
/OfrecerConstruir.class
/Ofre.class
/OfrecerComerciarBanca.class
/OfercerCartaDesarrollo.class
/RealizarOfertaJugador.class
/SolicitarUnirsePartida.class
/EntregarDados.class
/OfrecerCartaDesarrollo.class
/OfrecerUnirsePartida.class
